*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;

}

 body{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(135deg, #614385,  #516395); 
 }

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    outline: transparent;

}
.to-do-list {
    width: 100%;
    max-width: 540px;
    background: linear-gradient(135deg, #ddd6f3,  #516395);
    margin: 100px auto 20px;
    padding: 50px 30px 70px;
    border-radius: 5px;
}
.to-do-list h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.textrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;


}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;

}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: navy;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/circle.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;

}
ul li.checked{
    color: grey;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/tick.png);
}
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
     
}
ul li span:hover{
    background: #edeef0;

}
